<html>

<head>
  <title>Email Template</title>
</head>
<!-- <h1>Hello, <%= email %>!</h1> -->

<body style="margin: 0">
  <span style="opacity: 0"> </span>
  <div style="background: #e5e5e7; display: flex; justify-content: center; align-items: center; padding: 50px; margin: 0; height: 100%; font-family: Arial, Helvetica, sans-serif">
    <div style="background: white; width: 100%; max-width: 709px; margin: auto; padding: 50px; border-radius: 5px; gap: 20px">
      <div style="display: table; margin-bottom: 30px; overflow-wrap: break-word; width: 100%">
        <img style="width: 150px; height: 150px; border-radius: 50%;"
          src="https://lh3.googleusercontent.com/fife/ALs6j_FnZ_mv1UW6XX6XL4_jhG2iYAF38o1cLLKV9w5YIq-FZoD6cX4zf27mvPKtJEiclCScTdfIIb4OfCdK6kNtL1KjIDYmrN4n4V8IQr2TcBhe8kMemolrOBs8k9YnmVLWOlNoAQPGlNNfwMzKjlgK92fE6FlEKrteOKOlr7VLgOOo1_R4AQB2WKJ0Y6IXduqmNbc-rcCMauODWyzAUVPpfSVhSxSkR491g1emiaBX7YmDM00X_fAW_kNYB_hZvAMUxzr9xOP463ByPPloRSj01GW8Iqt6Fj_I2FUfiwAJDIof76KgtDyWeqJYBMmHHqX_hWh3S8f9oho1W18It97CqKrvd9Anrlg73yLUEkm02TbpkzIlXHEXH-_99eooD-Kj1UJHX7Qa0Y72EQYjyQrRk2jepx4_SG5Lhc_QII03PBJXgh3dVxVzUYFGFMLqOUruYpBYj3Bmo4rcDGtGvDFJniwu7NHSNuRuJWSt4dsxDPurYsR_ax27xuR_nR7_1-o5Kw9-5DYs63DX32nj-jYEeKI_0vlEfI9gNG68rr_M_XFoJup-NwtbNM3zkPChKHwFgJwFkPGhA0iJ29oF7kBPyNUtSw2Y2w_SUdx_8o51hcqiwxRHeQMoloCxj_kTtbBv_v4Z5SKYxy924SbC1azLm78RJ3WgaotDviaZaFu0vnbAmS-m1jlO_mIm8iaOuk-gzQP9g4zIrajLPjoYKVlyg_-S2yDUMuevNHBVxSXLYRwAJ3AE6ciBVlhquqM-40CLYWP-ounvQAoBTV8tVvVitzbOg0t83uqlGjujECFRC93iTINkqlNy6VVt_T91yoyaLjL3T42RgWdh92t5cqRuBji5O5iKxpCjjcpHg2GaIQpehK6txgbC8mjrWBvUHgE9YoXKgMsEqHyg_zwNCsSqpg3tRHdSykFFkPsAtkKXxslIqtBmZx7gArkZpSXxZ2E_Dn_8ejRCilmWY5l42ta5jB_0JRR9iXsFKEM47KuDT7dKNV4VnmlocXx-KoLrWZDthkZ6Ywx6f8FCnsbAbV7HUzZ18gI8poHKnSCJs5hfzKcQK3sf6Ccsc6wmMkzLcA8TkzZ9vZNkUBPw_a-QKAfiIj7oxQfzIemdjLTmSz0ZXng_cH8Emtsd2oO4HzOrZEQE_A1-pRCdgbVY9YuFxISPCV9l3nAxDNiA-oYdWFg4B4ZrAFAlJFW6-0zFqvm_z5ZlibB0zzKo3MePMf-WWVkfhYSCVfxIo8pfLZKpIghoCw2rEgSA1NyGcCNaUjyzdFYUCI8EiBKCETUX-rXQooDsUbzapQS2rTlSikdWBC1BfV3NFe5MexEfr1JDaJbx9m2wuZ5GoLADF3MdsKyRWveAJl-O_PLVs09MruO54RfcC-H3mXL_JaSbzwioi9Lwz969O4CMnXKFoOH81oDJJgf5WtYCL4OUs7xHaFHOcadXm6hSK5qVg3khGz4lE5D6kN5U7RM8DrkeIwQQxteXtofqAsIuzafQWh-RJyCslPjTwHXwkD7i-Io26Vw0PlNwGBCROPU5jon2nbu2HcYASyao9MkcK167ohwOPvpgnKrNi7ENNteQsW2F20wJKrUV-aymnCQREMXISfcg8DmJ6L7ROUcClu1_7ATF8Icf1emTDx6w2sya=s220?authuser=0" />
        <h1 style="color: black; display: table-cell; vertical-align: middle; font-size: 26px; float: right; margin-top: 60px">JobHorizon©</h1>
      </div>
      <h2 style="margin: 0; background: #d5d3e4; width: calc(100% - 40px); text-align: center; color: black; border-radius: 5px; padding: 20px; margin-bottom: 10px">
        Reset Password
      </h2>
      <p style="margin: 0; background: #eee; width: calc(100% - 40px); text-align: center; color: gray; border-radius: 5px; padding: 20px; margin-bottom: 10px">
        Click the link below to change your password:
      </p>
      <a href="<%= resetLink %>" style="
          display: block;
          margin: 0;
          background: #3d2462;
          width: 100%;
          text-align: center;
          color: white;
          border-radius: 5px;
          padding: 20px 0px;
          margin-bottom: 10px;
          font-size: 15px;
        ">
        Click Here
      </a>
      <p style="margin: 0; background: #eee; width: calc(100% - 40px); text-align: center; color: gray; border-radius: 5px; padding: 20px; text-align: justify">
        Be careful around sensitive information like passwords. Don't share this email to anyone else, or they can be able to change your password without further notice. If this
        request was not sent by you you can simply ignore this email. Or you can
        <span style="cursor: pointer"><a style="color: #3d2462" href="#">contact our staff</a></span> about any questions you may have.
      </p>

      <p style="color: gray">
        You're receiving this email because you signed up for a JobHorizon account. You can update your preferences at any time. If you wish to be removed from our email list,
        <a href="#">
          <span style="color: black; text-decoration: underline; cursor: pointer">unsubscribe</span>.
        </a>
      </p>
    </div>
  </div>
  <span style="opacity: 0"> </span>
</body>

</html>