* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top-section {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  align-items: center;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0;
  max-width: 1200px;
}
button {
  padding: 7px 12px;
  border-radius: 4px;
}
.signup {
  margin-right: 10px;
  background-color: rgb(110, 70, 174);
  border: 2px solid rgb(110, 70, 174);
  color: white;
}
.signup:hover {
  background-color: rgb(128, 96, 182);
  border: 2px solid rgb(128, 96, 182);
  cursor: pointer;
}
.login {
  background-color: #fff;
  border: 2px solid rgb(217, 219, 233);
  color: rgb(110, 70, 174);
}
.login:hover {
  cursor: pointer;
  background-color: rgb(234, 233, 248);
  border: 2px solid rgb(234, 233, 248);
}
.bottom-section {
  display: flex;
  background-color: rgb(242, 242, 242);
  padding: 10px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  padding-bottom: 20px;
  font-size: 16px;
  display: flex;
  align-content: center;
  gap: 35px;
  list-style-type: none;
  padding-right: 62px;
  cursor: pointer;
}

.post-job {
  margin-right: 20px;
}
